{% extends "layout.html" %}

{% block page_title %}添加子类别{% endblock %}
{% block page_id %}page-add-stype{% endblock %}
{% block body %}

   <form id="form-add-stype" class="form-horizontal" method="post" action="{{ url_for('add_stype') }}">
      <fieldset>
         <legend>添加子类别</legend>

         <div class="form-group">
            <label class="col-sm-2 control-label">所属主类别</label>
            <div class="col-sm-3">
               <select name="mtype_id" class="form-control">
                  {% for mt in mtypes %}
                     <option value="{{ mt.id }}">{{ mt.name }}</option>
                  {% endfor %}
               </select>
            </div>
         </div>

         <div class="form-group">
            <label class="col-sm-2 control-label">类别名称</label>
            <div class="col-sm-6">
               <input type="text" class="form-control" name="name"/>
            </div>
         </div>

         <div class="form-group">
            <label class="col-sm-2 control-label">显示次序</label>
            <div class="col-sm-6">
               <input type="text" class="form-control" name="show_order"/>
               <span class="help-block">填写数字（如0、1、2），数字越大显示位置越靠后</span>
            </div>
         </div>

         <div class="form-group">
            <div class="col-sm-offset-2 col-sm-6">
               <input type="submit" value="提交" class="btn btn-sm btn-primary"/>
            </div>
         </div>
      </fieldset>
   </form>

{% endblock %}