{% extends "layout.html" %}

{% block page_title %}编辑子类别{% endblock %}
{% block page_id %}page-edit-stype{% endblock %}
{% block body %}

   <form id="form-edit-stype" class="form-horizontal" method="post"
         action="{{ url_for('edit_stype', stype_id=st.id) }}">
      <fieldset>
         <legend>编辑子类别</legend>

         <div class="form-group">
            <label class="col-md-2 control-label">所属主类别</label>
            <div class="col-md-3">
               <select name="mtype_id" class="form-control">
                  {% for mt in mtypes %}
                     <option value="{{ mt.id }}"
                           {% if st.mtype_id == mt.id %}
                             selected="selected"
                           {% endif %}
                           >{{ mt.name }}</option>
                  {% endfor %}
               </select>
            </div>
         </div>

         <div class="form-group">
            <label class="col-md-2 control-label">子类别名称</label>
            <div class="col-md-6">
               <input type="text" class="form-control" name="name" value="{{ st.name }}"/>
            </div>
         </div>

         <div class="form-group">
            <label class="col-md-2 control-label">显示次序</label>
            <div class="col-md-6">
               <input type="text" class="form-control" name="show_order" value="{{ st.show_order }}"/>
               <span class="help-block">填写数字（如0、1、2），数字越大显示位置越靠后</span>
            </div>
         </div>

         <div class="form-group">
            <div class="col-md-offset-2 col-md-6">
               <input type="submit" value="提交" class="btn btn-sm btn-primary"/>
            </div>
         </div>
      </fieldset>
   </form>

{% endblock %}