{% extends "layout.html" %}

{% block page_title %}{{ mt.name }} - Products - Optico Communincation{% endblock %}
{% block page_id %}page-mtype{% endblock %}
{% block description %}{{ mt.name }} By Optico Communincation{% endblock %}
{% block body %}

   <script type="text/javascript" src="{{ url_for('static', filename='js/optico-ps.js') }}"></script>
   <script type="text/javascript">

      $(document).ready(function () {
         // confirm delete
         $('#btn-delete-mtype').click(function () {
            return confirm("确认删除主分类：{{ mt.Name }} ?") ? true : false;
         })
      });
   </script>

   <div class="row">
      <div class="col-md-3">
         <!-- products treelist -->
         {% from 'widget/products_sidebar.html' import show_ps %}
         {{ show_ps(ps)|safe }}

         <script type="text/javascript">
            // init sidebar
            init_ps(1, {{ mt.id }});
         </script>
      </div>

      <div class="col-md-9">
         {% if session.user_id == admin_id %}
            <div class="btn-group btn-group-sm pull-right">
               <a href="{{ url_for('delete_mtype', mtype_id=mt.id) }}" id="btn-delete-mtype" class="btn btn-primary">
                  <span class="glyphicon glyphicon-remove"></span> 删除
               </a>
               <a href="{{ url_for('edit_mtype', mtype_id=mt.id) }}" class="btn btn-primary">
                  <span class="glyphicon glyphicon-pencil"></span> 编辑
               </a>
            </div>
         {% endif %}

         <ul class="breadcrumb">
            <li>
               <a href="{{ url_for('mtype', mtype_id=mt.id) }}">{{ mt.name }}</a>
            </li>
         </ul>

         <h1>{{ mt.name }}</h1>

         {% from 'widget/products.html' import show_products %}
         {% for st in mt.stypes %}
            {{ show_products(st.products)|safe }}
         {% endfor %}
      </div>
   </div>

{% endblock %}