{% extends "layout.html" %}

{% block page_title %}{{ st.name }} - {{ st.mtype.name }} - Products - Optico Communincation{% endblock %}
{% block page_id %}page-stype{% endblock %}
{% block description %}{{ st.name }} By Optico Communincation{% endblock %}
{% block body %}

   <script type="text/javascript" src="{{ url_for('static', filename='js/optico-ps.js') }}"></script>
   <script type="text/javascript">

      $(document).ready(function () {
         // comfirm delete
         $('#btn-delete-stype').click(function () {
            return confirm("确认删除子分类：{{ st.name }} ?") ? true : false;
         })
      });
   </script>

   <div class="row">
      <div class="col-sm-3">
         <!-- products treelist -->
         {% from 'widget/products_sidebar.html' import show_ps %}
         {{ show_ps(ps)|safe }}

         <script type="text/javascript">
            // init sidebar
            init_ps(2, {{ st.id }});
         </script>
      </div>

      <div class="col-sm-9">
         {% if session.user_id == admin_id %}
            <div class="btn-group btn-group-sm pull-right">
               <a href="{{ url_for('delete_stype', stype_id=st.id) }}" id="btn-delete-stype" class="btn btn-primary">
                  <span class="glyphicon glyphicon-remove"></span> 删除
               </a>
               <a href="{{ url_for('edit_stype', stype_id=st.id) }}" class="btn btn-primary">
                  <span class="glyphicon glyphicon-pencil"></span> 编辑
               </a>
            </div>
         {% endif %}

         <ul class="breadcrumb">
            <li>
               <a href="{{ url_for('mtype', mtype_id=st.mtype.id) }}">{{ st.mtype.name }}</a>
            </li>
            <li>{{ st.name }}</li>
         </ul>

         <h1>{{ st.name }}</h1>

         {% from 'widget/products.html' import show_products %}
         {{ show_products(st.products)|safe }}
      </div>
   </div>

{% endblock %}