{% extends "layout.html" %}

{% block page_title %}登陆{% endblock %}
{% block page_id%}page-login{% endblock %}

{% block body %}

<form id="form-login" class="form-horizontal" method="post" action="{{ url_for('login') }}">
	<fieldset>
		<legend>管理员登陆</legend>

		<div class="form-group">
			<label class="col-sm-2 control-label">用户名</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" name="user" />
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">密码</label>
			<div class="col-sm-6">
				<input type="password" class="form-control" name="pwd" />
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-6">
				<input type="submit" value="登录" class="btn btn-sm btn-primary" />
			</div>
		</div>
	</fieldset>
</form>

{% endblock %}