{% extends "layout.html" %}

{% block page_title %}编辑参数{% endblock %}
{% block page_id%}page-edit-para{% endblock %}

{% block body %}

<form id="form-add-para" class="form-horizontal" method="post" action="{{ url_for('edit_para', para_id=para.ParamterID) }}">
	<fieldset>
		<legend>编辑参数</legend>

		<div class="control-group">
			<label class="control-label">参数项</label>
			<div class="controls">
				<input type="text" name="title" value="{{ para.Title }}" />
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">内容</label>
			<div class="controls">
				<textarea class="input-xxlarge" rows="10" name="content">{{ para.Content }}</textarea>
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<input type="submit" value="提交" class="btn btn-primary" />
			</div>
		</div>

	</fieldset>
</form>

{% endblock %}