{% extends "layout.html" %}
{% from 'widget/ui.html' import show_products, show_ps %}

{% block page_title %}Products - Optico Communincation{% endblock %}
{% block page_id%}page-products{% endblock %}
{% block description %}Products By Optico Communincation{% endblock %}

{% block body %}

<script type="text/javascript" src="{{ url_for('static', filename='js/optico-ps.js') }}"></script>

<div class="row">
	<div class="col-sm-3">
		{{ show_ps(ps)|safe }}
	</div>

	<div class="col-sm-9">
		<h1 class="page-title">Products</h1>

		{{ show_products(products)|safe }}
	</div>	
</div>

{% endblock %}