{% extends "layout.html" %}

{% block page_title %}{{ p.name }} - {{ p.stype.name }} - {{ p.stype.mtype.name }} - Products - Optico
   Communincation{% endblock %}
{% block page_id %}page-product{% endblock %}
{% block description %}{{ p.name }} By Optico Communincation{% endblock %}
{% block body %}

   <script type="text/javascript" src="{{ url_for('static', filename='js/optico-ps.js') }}"></script>
   <script type="text/javascript">

      $(document).ready(function () {
         // confirm delete
         $('#btn-delete-product').click(function () {
            return confirm("确认删除产品：{{ p.name }} ?") ? true : false;
         });

         $(document.body).on('click', '.btn-delete-para', function () {
            return confirm("确认删除此项产品参数 ?") ? true : false;
         });

         $('table').addClass('table table table-bordered');
      });
   </script>

   <div class="row">
      <div class="span3">
         <!-- products treelist -->
         {% from 'widget/products_sidebar.html' import show_ps %}
         {{ show_ps(ps)|safe }}

         <script type="text/javascript">
            // init sidebar
            init_ps(3, {{ p.id }});
         </script>
      </div>

      <div class="span9">
         {% if session.user_id == admin_id %}
            <div class="btn-group pull-right">
               <a href="{{ url_for('delete_product', product_id=p.id) }}" id="btn-delete-product" class="btn btn-small">
                  <span class="icon-remove"></span> 删除
               </a>
               <a href="{{ url_for('edit_product', product_id=p.id) }}" class="btn btn-small">
                  <span class="icon-edit"></span> 编辑
               </a>
            </div>
         {% endif %}

         <ul class="breadcrumb">
            <li><a href="{{ url_for('mtype', mtype_id=p.stype.mtype.id) }}">{{ p.stype.mtype.name }}</a> ></li>
            <li><a href="{{ url_for('stype', stype_id=p.stype.id) }}">{{ p.stype.name }}</a> ></li>
            <li>{{ p.Name }}</li>
         </ul>

         <h1>{{ p.name }}</h1>

         <img class="p-img" src="{{ p.image_url }}"/>

         <div class="p-desc">{{ p.friendly_desc|safe }}</div>

         <div class="tabbable">
            <ul class="nav nav-tabs">
               {% for para in p.paramters %}
                  <li {% if loop.first %}class="active"{% endif %}>
                     <a href="#p_{{ para.id }}" data-toggle="tab">{{ para.key }}</a>
                  </li>
               {% endfor %}
            </ul>

            <div class="tab-content">
               {% for para in p.paramters %}
                  <div class="tab-pane {% if loop.first %}active{% endif %}" id="p_{{ para.id }}">
                     {% if session.user_id == admin_id %}
                        <div class="btn-group pull-right">
                           <a class="btn btn-small btn-delete-para"
                                 href="{{ url_for('delete_para', para_id=para.id) }}">
                              <span class="icon-remove"></span> 删除
                           </a>
                           <a class="btn btn-small" href="{{ url_for('edit_para', para_id=para.id) }}">
                              <span class="icon-edit"></span> 编辑
                           </a>
                        </div>
                     {% endif %}

                     <div class="para-content">{{ para.friendly_value|safe }}</div>
                  </div>
               {% endfor %}
            </div>
         </div>

         {% if session.user_id == admin_id %}
            <form id="form-add-para" class="form-horizontal" method="post"
                  action="{{ url_for('add_para', product_id=p.id) }}">
               <fieldset>
                  <legend>添加参数</legend>

                  <div class="control-group">
                     <label class="control-label">参数项</label>

                     <div class="controls">
                        <input type="text" class="input-xlarge" name="key"/>
                     </div>
                  </div>

                  <div class="control-group">
                     <label class="control-label">内容</label>

                     <div class="controls">
                        <textarea class="input-xxlarge" rows="10" name="value"></textarea>
                     </div>
                  </div>

                  <div class="control-group">
                     <div class="controls">
                        <input type="submit" value="提交" class="btn btn-primary"/>
                     </div>
                  </div>

               </fieldset>
            </form>
         {% endif %}
      </div>
   </div>

{% endblock %}