body{
	font-family: 'arial';

	#header{
		background-color: #105cad;
		background-image: url('../img/header_bg.png'), url('../img/jeans.png');
		margin-bottom: 30px;

		#customer-quote{
			color: white;
			display: inline-block;
			font-size: 13px;
			line-height: 13px;
			margin-top: 10px;
		}

		#google_translate_element{
			float: right;
			clear: both;
			margin-top: 8px;
			margin-bottom: 10px;
			margin-right: 45px;
			width: 109px;
			height: 27px;
			display: block;
		}

		.navbar-inner{
			clear: both;
			margin-bottom: 25px;
			padding: 0;

			.container{
				border-right: 1px solid #e2e2e2;

				#logo{
					img{
						height: 100px;
						width: 140px;
						margin-top: 0px;
					}
				}

				.nav > li > a{
					padding: 35px 25px 45px 25px;
					border-left: 1px solid #e2e2e2;

					&:hover{
						background: transparent url('../img/menu_hover.png') repeat-x top center;
					}
				}

				.main-nav > li{
					position: relative;
					overflow: visible;

					// sub navbar
					ul{
						visibility: hidden;
						position: absolute;
						left: 0;
						top: 100px;
						z-index: 1000;
						list-style-type: none;
						margin: 0;
						background-color: #fbfbfb;
						border: 1px solid #ccc;
						border-top: 0;
						border-bottom: 0;

						li{
							a{
								width: 220px;
								display: block;
								padding: 10px 15px 10px 15px;
								color: #333;
								text-decoration: none;
								border-bottom: 1px solid #ccc;

								&:hover{
									background-color: black;
									color: white;
								}
							}
						}
					}

					&:hover ul{
						visibility: visible;
					}
				}
			}
		}
	}

	#main-wap{
		font-size: 14px;
		line-height: 24px;

		h1{
			font-size: 35px;
			line-height: 35px;
			margin-top: 5px;
			margin-bottom: 30px;
			padding-bottom: 15px;
			border-bottom: 1px solid #999;
			font-weight: normal;
		}

		input[type='file']{
			display: block;
		}
	}

	#footer{
		background-color: #105cad;
		background-image: url('../img/header_bg.png'), url('../img/jeans.png');
		margin: 35px 0 0 0;
		padding: 15px 0;
		color: white;

		.footer-nav{
			margin-bottom: 30px;

			h4{
				font-weight: normal;
				font-size: 14px;
				border-bottom: 1px dotted white;
				padding-bottom: 5px;
				margin-bottom: 10px;
			}

			ul{
				list-style-type: none;
				margin: 0;

				li{
					font-size: 12px;
					margin-bottom: 5px;

					a{
						color: white;
					}
				}
			}

			ul.img-list{
				li{
					display: inline-block;
					margin-right: 5px;
				}
			}			
		}
		
		.cp{
			text-align: center;
			font-size: 12px;	
		}

	}

	// hide the unknown div of 20 px height
	#goog-gt-tt + div{
		display: none;
	}
}

// fix bootstrap css
//-----------------------------------------------------
.breadcrumb{
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 25px;
	font-size: 13px;
}

// page home
//-----------------------------------------------------
#page-home{
	.types{
		margin-bottom: 20px;

		.mtype-item{
			.mt-image{
				margin-bottom: 12px;
				width: 220px;
				height: 180px;
			}

			.mt-name{
				font-weight: bold;
				margin-bottom: 2px;

				a{
					color: #333;
				}
			}

			.stypes-list{
				list-style-type: none;
				margin: 0;

				li{
					a{
						color: #333;
						font-size: 12px;
						display: block;
					}
				}
			}
		}
	}

	.certificate{
		padding-top: 20px;
		border-top: 1px solid #aaa;

		img{
			height: 50px;
			float: left;
			margin-right: 35px;
		}
	}

}

// page product
//-----------------------------------------------------
#page-product{
	.p-img{
		margin-bottom: 25px;
		width: 350px;
		height: 250px;
		float: left;
	}

	.p-desc{
		margin-left: 370px;
	}

	.tabbable{
		clear: both;

		.tab-content {
			font-size: 13px;

			li{
				list-style-type: square;
				margin-bottom: 5px;
			}

			.para-content{
				em{
					font-style: normal;
					font-weight: bold;
				}
			}

			table{
				tr:first-child{
					font-weight: bold;
				}

				td{
					text-align: center;
				}
			}
		}
	}

	#form-add-para{
		.control-label{
			width: 50px;
		}

		.controls{
			margin-left: 70px;
		}		
	}
}

// page edit product
//-----------------------------------------------------
#page-edit-product{
	.p-img{
		margin-top: 20px;
		border: 1px solid #999;
	}
}

// page main type
//-----------------------------------------------------
#page-mtype{
	.mtype-name{
		font-size: 35px;
		line-height: 35px;
		margin-bottom: 35px;
	}
}

// page manage carousel
//-----------------------------------------------------
#page-manage-carousel{
	.c-img{
		width: 400px;
	}
}

// page about
//-----------------------------------------------------
#page-about{
	h4{
		margin: 20px 0;

		a{
			color: #333;
			text-decoration: none;
		}
	}

	p{
		text-align: justify;
	}
}

// page service
//-----------------------------------------------------
#page-service{
	h4{
		margin: 20px 0;

		a{
			color: #333;
			text-decoration: none;
		}
	}

	p{
		text-align: justify;
	}
}
