body{
	font-family: 'arial';

	#header{
		#brand{
			display: block;
			margin: 20px 0 15px 0;
			font-size: 40px;
			line-height: 40px;
			text-decoration: none;
		}

		#myCarousel{
			// display: none;
			margin-bottom: 0;
		}

		#navbar li a{
			padding-right: 25px;
		}
	}

	#main-wap{
		font-size: 14px;
		line-height: 24px;

		h1{
			font-size: 35px;
			line-height: 35px;
			margin-top: 5px;
			margin-bottom: 30px;
			padding-bottom: 15px;
			border-bottom: 1px solid #999;
			font-weight: normal;
		}

		h2{

		}
	}

	#footer{
		text-align: center;
		font-size: 12px;
		margin: 60px 0 10px 0;

		a{
			color: #37a;
		}

		img{
			margin-left: 7px;
			margin-top: -1px;
		}
	}

	// hide the unknown div of 20 px height
	#footer + div{
		display: none;
	}
}

// fix bootstrap css
//-----------------------------------------------------
.breadcrumb{
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 25px; 
}

// page home
//-----------------------------------------------------
#page-home{
	.mtype-item{

		.mt-image{
			margin-bottom: 10px;
		}

		.mt-name{
			font-weight: bold;

			a{
				color: #333;
			}
		}

		.stypes-list{
			list-style-type: none;
			margin: 0;

			li{
				a{
					color: #333;
					font-size: 12px;
				}
			}
		}
	}
}

// page product
//-----------------------------------------------------
#page-product{
	.p-img{
		margin-bottom: 25px;
		border: 1px solid #999;
	}
}

// page edit product
//-----------------------------------------------------
#page-edit-product{

	.p-img{
		margin-top: 20px;
		border: 1px solid #999;
	}
}

// page main type
//-----------------------------------------------------
#page-mtype{
	.mtype-name{
		font-size: 35px;
		line-height: 35px;
		margin-bottom: 35px;
	}
}