{% extends "layout.html" %}

{% block page_title %}Careers - Optico Communincation{% endblock %}
{% block page_id %}page-careers{% endblock %}
{% block description %}Careers in Optico Communincation{% endblock %}

{% block body %}

   <div class="row">
      <div class="col-md-9">
         <h1>Careers</h1>

         <h2><a name="bf">Build your bright future with us</a></h2>

         <p>We are marketing wide range of products in above field and targeting customer from region of Europe, South
            and North America and Middle East. Our major customers are from fields of Telecommunications, Engineering,
            System Integrators and Research centers.</p>

         <p>With continuously growing and expanding, we are looking for suitable candidate to join us and make a more
            complete family.</p>

         <h2><a name="sr">Sales Representitive</a></h2>

         <p>Responsibilities:</p>
         <ul>
            <li>Create a market and establish a customer base</li>
            <li>Must be target oriented and willing to work hard</li>
            <li>Independent and able to communicate well with customers</li>
         </ul>

         <p>Requirements:</p>
         <ul>
            <li>At least a Degree in (Electronics/Telecommunications/Computer) Engineering</li>
            <li>1-2 years of working experiences in related field is better</li>
            <li>Must be willing to travel and meet customers</li>
            <li>Can be between 20 and 40 years of age</li>
            <li>Fresh graduates are welcome to apply</li>
            <li>Male or female</li>
         </ul>

         <h2><a name="aae">Account and Admin Executives</a></h2>

         <p>Responsibilities:</p>
         <ul>
            <li>Responsible for administrative duties and company account</li>
            <li>Independent and able to communicate well with customer and be nice and patient</li>
            <li>Able to work independently and willing to work long hour if necessary</li>
         </ul>

         <p>Requirements:</p>
         <ul>
            <li>At least a Diploma/Degree in Business Administration/Accounting/ Secretarial or any related field</li>
            <li>1-2 years of working experience in the related field is better</li>
            <li>With experiences in the same field is much welcome</li>
            <li>Fresh Graduate from University is encouraged to apply</li>
            <li>Knowledge in accounting software and computer software is better</li>
            <li>Can be between 20 and 40 years of age</li>
            <li>Male or female</li>
         </ul>

         <p>Anyone who has interest kindly email us with a resume and a piece of recent photograph to:
            sales@optico.com.cn </p>
      </div>

      <div class="col-md-3"></div>
   </div>



{% endblock %}