{% extends "layout.html" %}
{% from "widget/ui.html" import contact_info %}

{% block page_title %}Contact - Optico Communincation{% endblock %}
{% block page_id %}page-contact{% endblock %}
{% block description %}Contact with Optico Communincation{% endblock %}

{% block body %}
   <div class="row">
      <div class="col-sm-12">
         <h1 class="page-title">Contact Us</h1>
      </div>

      <div class="col-sm-9">
         <h2 class="no-margin-top">SHENZHEN OPTICO COMMUNICATION CO., LTD.</h2>

         <ul class="company-info">
            <li><b>Add</b>: No9,4F,Bldg 5,Fenggong Industrial|Park,Dongkeng Community,Guangming District,Shenzhen,China
            </li>
            <li><b>Mail</b>: sales@optico.com.cn</li>
            <li><b>Tel</b>: 0086-0755-33532578</li>
            <li><b>Fax</b>: 0086-0755-33532576</li>
         </ul>

         <form id="form-contact" class="form-horizontal" method="post"
               action="{{ url_for('contact') }}" role="form">
            <fieldset>
               <legend>Contact Details</legend>

               <div class="form-group">
                  <label class="col-sm-2 control-label">Name</label>

                  <div class="col-sm-7">
                     <input type="text" class="form-control" name="name"/>
                  </div>
               </div>

               <div class="form-group">
                  <label class="col-sm-2 control-label">Your Email</label>

                  <div class="col-sm-7">
                     <input type="text" class="form-control" name="email"/>
                  </div>
               </div>

               <div class="form-group">
                  <label class="col-sm-2 control-label">Company</label>

                  <div class="col-sm-7">
                     <input type="text" class="form-control" name="company"/>
                  </div>
               </div>

               <div class="form-group">
                  <label class="col-sm-2 control-label">Comments</label>

                  <div class="col-sm-7">
                     <textarea class="form-control" name="comments" rows='10'></textarea>
                  </div>
               </div>

               <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-6">
                     <input type="submit" value="Submit" class="btn btn-sm btn-primary"/>
                  </div>
               </div>
            </fieldset>
         </form>
      </div>

      <div class="col-sm-3">
         {{ contact_info() }}
      </div>
   </div>
{% endblock %}
