{% extends "layout.html" %}

{% block page_title %}Optico Communincation | MTP, MPO, PLC, CWDM, DWDM, AWG Cat5e, Cat6, Cat6a,
   Cat7, CATV |
   Professional Networking Communication Company{% endblock %}
{% block page_id %}page-home{% endblock %}

{% block carousel %}
   <script src="{{ url_for('static', filename='js/jquery.bxslider.js') }}"></script>
   <link rel="stylesheet" href="{{ url_for('static', filename='style/jquery.bxslider.css') }}">

   <div class="carousel-wap">
      <ul class="bxslider">
         {% for c in global_carousels %}
            <li><img class="c-img" src="{{ c.image_url }}"/></li>
         {% endfor %}
      </ul>
   </div>

   <script type="text/javascript">
      $(document).ready(function () {
         $('.bxslider').bxSlider({
            controls: false,
            mode: 'fade',
            speed: 800,
            auto: true
         });
      });
   </script>
{% endblock %}

{% block body %}

   <div class="row types">
      {% for mt in mtypes %}
         <div class="mtype-item col-sm-3">
            <div class="wapper">
               <div class="thumbnail">
                  <a href="{{ url_for('mtype', mtype_id=mt.id) }}">
                     <img class="mt-image" src="{{ mt.image_url }}" alt="{{ mt.name }}"
                          title="{{ mt.name }}"/>
                  </a>

                  <div class="mt-name"><a
                        href="{{ url_for('mtype', mtype_id=mt.id) }}">{{ mt.name }}</a></div>

                  <ul class="stypes-list">
                     {% for st in mt.stypes %}
                        <li><a
                              href="{{ url_for('stype', stype_id=st.id) }}">{{ st.name|truncate(30, true) }}</a>
                        </li>
                     {% endfor %}
                  </ul>
               </div>
            </div>
         </div>
      {% endfor %}
   </div>

   <script src="{{ url_for('static', filename='js/imagesloaded.min.js') }}"></script>
   <script>
      function uniformHeight() {
         if ($(window).width() <= 750) {
            $('.wapper').css('height', 'auto');
            return;
         }

         var maxHeight = 0;

         $('.thumbnail').each(function (index, item) {
            if ($(this).outerHeight() > maxHeight) {
               maxHeight = $(this).outerHeight();
            }
         });

         $('.wapper').css('height', maxHeight + 2 + 'px');
      }

      imagesLoaded('.type', function () {
         uniformHeight();
      });

      $(window).on('resize', function () {
         uniformHeight();
      });

   </script>

   <hr class="ce-divider">

   <div class="certificate container">
      <img src="{{ url_for('static', filename='img/UL.png') }}" alt="UL" title="UL">
      <img src="{{ url_for('static', filename='img/CE.png') }}" alt="CE" title="CE">
      <img src="{{ url_for('static', filename='img/RoHS.png') }}" alt="RoHS" title="RoHS">
      <img src="{{ url_for('static', filename='img/TLC.png') }}" alt="TLC" title="TLC">
      <img src="{{ url_for('static', filename='img/SGS.bmp') }}" alt="SGS" title="SGS">
   </div>
{% endblock %}