{% extends "layout.html" %}
{% from "widget/ui.html" import contact_info %}

{% block page_title %}Service - Optico Communincation{% endblock %}
{% block page_id %}page-service{% endblock %}
{% block description %}Service By Optico Communincation{% endblock %}

{% block body %}

   <div class="row">
      <div class="col-sm-12">
         <h1 class="page-title">Services</h1>
      </div>

      <div class="col-sm-9">
         <h2 class="no-margin-top">After-Sales Services</h2>

         <p>Our After-Sales Service helps to ensure that OPTICO products and solutions work in a
            reliable and efficient way.Our closeness is your peace of mind. We have an extensive
            network of official technical assistance services (ATS), on both a national and
            international level, to offer you a top quality service in the minimum possible
            time.</p>

         <p>We have a Customer Centre where you will be able to contact experts in OPTICO products,
            an onsite Support and Maintenance service because your business is our priority, and an
            original Spare Part Management service, ensuring the maximum reliability of all the
            components on offer.</p>

         <p>We offer you all the technical documentation and information, accessible from the
            website, and a range of training courses, to ensure that you are always up to date with
            OPTICO products and solutions.</p>

         <h2>OEM/ODM</h2>

         <p>Besides our own OPTICO brands, we also provide both OEM & ODM services on lan cable and
            other products. With our innovative design and manufacturing capabilities, professional
            packaging and molding technologies, we can deliver a total solution from start to end.
            Most significantly of all, with our quality cost control methods and years of
            manufacturing experience, we are confident that OPTICO is your number one choice for
            partnership.</p>

         <p>The ODM/OEM procedure begins with the concept of having your own product identity. In
            order to speed up the process, both parties work closely to enhance communication and to
            ensure that development occurs along the same level. The stages of the ODM/OEM procedure
            are detailed in the series of charts below.</p>
      </div>

      <div class="col-sm-3">
         {{ contact_info() }}
      </div>
   </div>

{% endblock %}