{% extends "layout.html" %}

{% block page_title %}About{% endblock %}
{% block page_id%}page-about{% endblock %}

{% block body %}

<div class="row">
	<div class="span8">
		<h1>About</h1>

		<h4><a name="bi">Brief Introduction</a></h4>

		<p>Established in 2001, Optico Communincation is a professional networking communication company engaged in R&D, manufacturing and distribution. Currently, main products of our company include Data Center cabling products (mainly MTP, MPO and other fiber patch cord and pigtail), passive products (mainly PLC splitter, CWDM, DWDM, optic adapters and attenuators), active products (like SFP, XFP, ONU, OLT) and copper series (Cat5e, Cat6, Cat6a, patch cord, patch panel, keystone jacks).</p>

		<p>We invested in three factories, two in Shenzhen and one in Nanjing and a research centre in Singapore with introducing the most advanced technologies. About 450 well-trained staff and engineers are contributing to our proud products. Optico Communincation has been focused on research, development and applications of the total production techniques which are involved in material molding, programmed agglomeration, machinery processing, shaping, polishing, and making-up, on-line quality control as well as a set of inspection and testing systems.</p>

		<h4><a name="icr">Industries and Countries Related</a></h4>

		<p>We provide professional products and services into the finance, transportation and telecom industry. Our products have been exported to overseas popularly like USA, Britain, Germany, France, Portugal, Russia, Singapore, Malaysia, Indonesia, Brazil, etc. The products have been widely used in structured data centers, copper cabling, fiber cabling and other network solutions. Here in Optico Communication, we win the trust of clients at home and abroad with quality product and first-class service.</p>

		<h4><a name="pc">Production and Certification</a></h4>

		<p>The imported world most advanced equipment and function testing instrument enable our products join in all sorts of cooper networks, optical networks. The advanced management, strict quality control and thorough product test make the technology specification and functions of our productions come up to the top of the world while keep the very competitive price.</p>

		<p>Optico Communincation also acquired ISO9001 certification in April 2002 and TL9000 certification in August, 2003. Optico Communincation has a policy to develop at least two new products each year and introduces them at well-known such as CIOE in China, OFC in USA, ECOC in Europe and Expo Comm Moscow in Russia. All employees in Optico Communication will exert all the possible efforts to achieve our goal to be the best in networking industry.</p>

		<h4><a name="pf">Promise and Future</a></h4>

		<p>Adhering to the guideline of innovation, sincerity and passionate services, Optico Communincation will continue to provide customers with satisfactory products and service with competitive price and quality. Isn’t it a pleasure for one to have like-minded people coming from faraway places? Welcome to join us based on win-win cooperation. Let’s start a smart future.</p>
	</div>

	<div class="span4"></div>
</div>



{% endblock %}