{% extends "layout.html" %}

{% block page_title %}About - Optico Communincation{% endblock %}
{% block page_id%}page-about{% endblock %}

{% block description %}About Optico Communincation{% endblock %}

{% block body %}

<div class="row">
	<div class="span8">
		<h1>About Optico</h1>

		<h4><a name="ph">Product Highlights</a></h4>

		<p>Established in 2001, Optico Communincation is a professional networking communication company engaged in R&D, manufacturing and distribution. Currently, our product highlights include:</p>

      <table class="table table-bordered table-products">
         <tr>
            <td width="170"><strong>Data Center Cabling Products</strong></td>
            <td>MTP, MPO, SC, LC, FC, ST, MTRJ and other fiber patch cord, pigtail, adapters, attenuators and fast connectors;</td>
         </tr>

         <tr>
            <td><strong>Passive Components</strong></td>
            <td>PLC splitter, Fused coupler, CWDM, DWDM, AWG and optical sensors;</td>
         </tr>

         <tr>
            <td><strong>Active Components</strong></td>
            <td>SFP transceiver, media converter, ONU device, OLT device, CATV transmitter;</td>
         </tr>

         <tr>
            <td><strong>Copper series</strong></td>
            <td>Cat5e, Cat6, Cat6a, Cat7 cables, patch cord, patch panel, keystone jacks and other accessories.</td>
         </tr>
      </table>

{#      <ul>#}
{#			<li><strong>Data Center Cabling Products</strong>: MTP, MPO, SC, LC, FC, ST, MTRJ and other fiber patch cord, pigtail, adapters, attenuators and fast connectors;</li>#}
{##}
{#			<li><strong>Passive Components</strong>: PLC splitter, Fused coupler, CWDM, DWDM, AWG and optical sensors;</li>#}
{##}
{#			<li><strong>Active Components</strong>: SFP transceiver, media converter, ONU device, OLT device, CATV transmitter;</li>#}
{##}
{#			<li><strong>Copper series</strong>: Cat5e, Cat6, Cat6a, Cat7 cables, patch cord, patch panel, keystone jacks and other accessories.</li>#}
{#		</ul>#}

		<h4><a name="mc">Market and Clients</a></h4>

		<p>Our professional products and services are widely used in finance, transportation and telecom industries and also in structured data centers, copper cabling, fiber cabling and other network solutions. USA, Britain, Germany, France, Portugal, Russia, Singapore, Malaysia, Indonesia, Brazil, etc are one of our frequent international export destinations. Here in Optico Communication, we win the trust of clients home and abroad with quality product and first-class service.</p>

		<h4><a name="cc">Craftmanship and Certification</a></h4>

		<p>Our production combination of three factories (two in Shenzhen and one in Nanjing) and one Singapore-based research center provide us with the competitive products and cutting edge technology. About 480 well-trained staff and engineers are proud to present with dedicated products.</p>

		<p>Optico Communication has been focusing on research, development and applications of the total production techniques in material molding, programmed agglomeration, machinery processing, shaping, polishing, and making-up, on-line quality control as well as a set of inspection and testing systems.</p>

		<p>The imported state-of-the-art equipment and function testing instrument enable our products join in all sorts of cooper networks, optical networks. Our strength of advanced management, strict quality control and thorough product test has created a world-class production specification and function while maintaining a very competitive price.</p>

		<p>Optico Communincation has acquired ISO9001 certification in April 2002 and TLC certification in August, 2003. Optico Communincation has a policy to develop at least two new products each year and introduces them at well-known expositions such as CIOE in China, OFC in USA, ECOC in Europe and Expo Comm Moscow in Russia.</p>

		<h4><a name="vv">Values and Vision</a></h4>

		<p>Our values of innovation, sincerity and passionate services are constantly driving us to provide customers with satisfactory products and service with competitive price and quality. All employees in Optico Communication are exerting their utmost efforts to achieve our goal to be the best in networking industry. Join us in the win-win cooperation and <b>START A SMART FUTURE!</b></p>
   </div>

	<div class="span4"></div>
</div>



{% endblock %}