{% extends "layout.html" %}

{% block page_title %}添加产品{% endblock %}
{% block page_id%}page-add-product{% endblock %}

{% block body %}

<script type="text/javascript">
$(document).ready(function(){

});
</script>

<form id="form-add-work" class="form-horizontal" method="post" action="{{ url_for('add_product') }}">
	<fieldset>
		<legend>添加产品</legend>

		<div class="control-group">
			<label class="control-label">子类别</label>
			<div class="controls">
				<select name='type_id'>
					<option value="10000">10000</option>
				</select>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">产品名称</label>
			<div class="controls">
				<input type="text" class="input-xlarge" name="name" />
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">图片</label>
			<div class="controls">
				<input type="text" class="input-xxlarge" name="image_url" />
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">简介</label>
			<div class="controls">
				<textarea class="input-xxlarge" name="description" rows='5'></textarea>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">详细参数</label>
			<div class="controls">
				<textarea class="input-xxlarge" name="details" rows='15'></textarea>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">参考链接</label>
			<div class="controls">
				<input type="text" class="input-xxlarge" name="src_url" />
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<input type="submit" value="提交" class="btn btn-primary" />
			</div>
		</div>
	</fieldset>
</form>

{% endblock %}