{% extends "layout.html" %}

{% block page_title %}添加主类别{% endblock %}
{% block page_id%}page-add-mtype{% endblock %}

{% block body %}

<form id="form-add-mtype" class="form-horizontal" method="post" action="{{ url_for('add_mtype') }}">
	<fieldset>
		<legend>添加主类别</legend>

		<div class="control-group">
			<label class="control-label">主类别名称</label>
			<div class="controls">
				<input type="text" class="input-xxlarge" name="name" />
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">图片</label>
			<div class="controls">
				<input type="text" class="input-xxlarge" name="img_url" />
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<input type="submit" value="提交" class="btn btn-primary" />
			</div>
		</div>
	</fieldset>
</form>

{% endblock %}