{% extends "layout.html" %}

{% block page_title %}Contact - Optico Communincation{% endblock %}
{% block page_id%}page-contact{% endblock %}

{% block description %}Contact with Optico Communincation{% endblock %}

{% block body %}

<h1>Contact Us</h1>

<h2>SHENZHEN OPTICO COMMUNICATION CO., LTD.</h2>

<!-- <ul class="company-info-list">
	<li><b>Address</b>: 4th Floor, E Building, Shifeng Industrail Park, Guangming District, Shenzhen,Guangdong, China</li>
	<li><b>Email</b>: sales@optico.com.cn</li>
	<li><b>Tel</b>: +86-755-26638585</li>
	<li><b>Fax</b>：+86-755-26638585</li>
</ul> -->

<table class="table table-bordered">
	<tr>
		<td><b>Address</b></td>
		<td>4th Floor, E Building, Shifeng Industrail Park, Guangming District, Shenzhen,Guangdong, China</td>
	</tr>

	<tr>
		<td><b>Email</b></td>
		<td>sales@optico.com.cn</td>
	</tr>

	<tr>
		<td><b>Tel</b></td>
		<td>+86-755-26638585</td>
	</tr>

	<tr>
		<td><b>Fax</b></td>
		<td>+86-755-26638585</td>
	</tr>
</table>

<!-- <p>Thank you for contacting us, you can send email to <b style="color: #0088cc;">sales@optico.com.cn</b> and expect a response to your question within twenty-four hours. Or you may alternatively fill in our contact form below:</p> -->

<form id="form-contact" class="form-horizontal" method="post" action="{{ url_for('contact') }}">
	<fieldset>
		<legend>Contact Details</legend>

		<div class="control-group">
			<label class="control-label">Name</label>
			<div class="controls">
				<input type="text" class="input-xlarge" name="name" />
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">Your Email</label>
			<div class="controls">
				<input type="text" class="input-xlarge" name="email" />
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">Company</label>
			<div class="controls">
				<input type="text" class="input-xlarge" name="company" />
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">Comments</label>
			<div class="controls">
				<textarea class="input-xxlarge" name="comments" rows='10'></textarea>
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<input type="submit" value="Submit" class="btn btn-small btn-primary" />
			</div>
		</div>
	</fieldset>
</form>

{% endblock %}