{% extends "layout.html" %}

{% block page_title %}Home{% endblock %}
{% block page_id%}page-home{% endblock %}

{% block carousel %}
<div id="myCarousel" class="carousel slide">
	<div class="carousel-inner">
		{% for c in carousels %}
		<div class="
		{% if loop.first %}active{% endif %}
		item"><a href="{{ c.LinkUrl }}"><img src="{{ c.ImageUrl }}" /></a></div>
		{% endfor %}
	</div>
	
	<a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
	<a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
</div>
{% endblock %}

{% block body %}

<script type="text/javascript">

$(document).ready(function(){
	$('#myCarousel').css({
		display: 'block'
	});

	$('.carousel').carousel();
});

</script>

<div class="row">
	{% for mt in mtypes %}
	<div class="mtype-item span3">
		<a href="{{ url_for('mtype', mtype_id=mt.MainTypeID) }}"><img class="mt-image" src="{{ mt.ImageUrl }}" /></a>
		
		<div class="mt-name"><a href="{{ url_for('mtype', mtype_id=mt.MainTypeID) }}">{{ mt.Name }}</a></div>

		<ul class="stypes-list">
			{% for st in mt.stypes %}
			<li><a href="{{ url_for('stype', stype_id=st.SubTypeID) }}">{{ st.Name }}</a></li>
			{% endfor %}
		</ul>
	</div>
	{% endfor %}		
</div>

{% endblock %}