{% extends "layout.html" %}

{% block page_title %}Home{% endblock %}
{% block page_id %}page-home{% endblock %}

{% block carousel %}
<script src="{{ url_for('static', filename='js/jquery.bxslider.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='style/jquery.bxslider.css') }}">
<div class="container"> 
	<ul class="bxslider">
		{% for c in public_carousels %}
		<li>
			<div class="c-text">
				<div class="c-title"><a href="{{ c.LinkUrl }}">{{ c.Title }}</a></div>
				<div class="c-content">{{ c.Content }}</div>
			</div>

			<a href="{{ c.LinkUrl }}">
				<img class="c-img" src="{{ c.ImageUrl }}" />
			</a>
		</li>
		{% endfor %}
	</ul>

	<script type="text/javascript">
	$(document).ready(function(){
		$('.bxslider').bxSlider({
			controls: false,
			auto: true,
			mode: 'fade'
		});				
	});
	</script>
</div>
{% endblock %}

{% block body %}

<div class="row types">
	{% for mt in mtypes %}
	<div class="mtype-item span3">
		<a href="{{ url_for('mtype', mtype_id=mt.MainTypeID) }}"><img class="mt-image" src="{{ mt.ImageUrl }}" /></a>
		
		<div class="mt-name"><a href="{{ url_for('mtype', mtype_id=mt.MainTypeID) }}">{{ mt.Name }}</a></div>

		<ul class="stypes-list">
			{% for st in mt.stypes %}
			<li><a href="{{ url_for('stype', stype_id=st.SubTypeID) }}">{{ st.Name }}</a></li>
			{% endfor %}
		</ul>
	</div>
	{% endfor %}		
</div>

<div class="certificate">
	<img src="{{ url_for('static', filename='img/UL.png') }}">
	<img src="{{ url_for('static', filename='img/CE.png') }}">
	<img src="{{ url_for('static', filename='img/RoHS.png') }}">
	<img src="{{ url_for('static', filename='img/TLC.png') }}">
	<img src="{{ url_for('static', filename='img/SGS.bmp') }}">
</div>

{% endblock %}