{% extends "layout.html" %}

{% block page_title %}Home{% endblock %}
{% block page_id%}page-home{% endblock %}

{% block body %}

<script type="text/javascript">

$(document).ready(function(){
	$('#myCarousel').css({
		display: 'block'
	});
});

</script>

<div class="row">
	{% for mt in mtypes %}
	<div class="mtype-item span3">
		<a href="{{ url_for('mtype', mtype_id=mt.MainTypeID) }}"><img class="mt-image" src="{{ mt.ImageUrl }}" /></a>
		
		<div class="mt-name">{{ mt.Name }}</div>

		<ul class="stypes-list">
			{% for st in mt.stypes %}
			<li><a href="{{ url_for('stype', stype_id=st.SubTypeID) }}">{{ st.Name }}</a></li>
			{% endfor %}
		</ul>
	</div>
	{% endfor %}		
</div>

{% endblock %}