{% extends "layout.html" %}

{% block page_title %}西窗烛{% endblock %}
{% block page_id%}page-index{% endblock %}

{% block body %}

<script type="text/javascript">

$(document).ready(function(){
	$('#work-refresh').click(function(){
		$.ajax({
			url: "{{ url_for('four_works') }}",
			type: 'POST',
			success: function(data){
				$('#4works-wap').html(data);

				// s2t
				var bodyIsFt = $.cookie("bodyIsFt");
				if(bodyIsFt == "1"){
					StranObj($('#4works-wap')[0], 1);
				}
			}
		})
	});
});

</script>

<div class="row">
	<div class="span8"></div>

	<div class="span4"></div>
</div>

{% endblock %}