<!doctype html>
<html lang="en">
	<head>
		<meta name="google-translate-customization" content="61ca14ffd629e351-f54b4e51ef194995-ge2b4eba0fabaeb28-11"></meta>
		<title>{% block page_title %}OPTICO{% endblock %}</title>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
		<link rel="stylesheet" href="{{ url_for('static', filename='style/bootstrap.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='style/component.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='style/page.css') }}">
	</head>

	<body id="{% block page_id %}{% endblock %}">
		<div id="os-float-window">
			<div class="os-title">Online Service</div>
			<div class="os-msn">
				<a href="msnim:chat?contact=optico.communication@hotmail.com">
					<img src="{{ url_for('static', filename='img/msn.png') }}" />
					<span>Call MSN</span>
				</a>
			</div>
			<div class="os-skype">
				<a href="callto://optico.communication">
					<img src="{{ url_for('static', filename='img/skype.png') }}" />
					<span>Call Skype</span>
				</a>
			</div>
		</div>
		<script type="text/javascript">
		// float window
		$(document).ready(function(){
			$('#os-float-window').css('top', $(window).height() * 0.3);
			$(window).scroll(function(){
				setTimeout(fw_move, 20);
			});
		});

		function fw_move(){
			$('#os-float-window').animate({
				top: $(window).scrollTop() + $(window).height() * 0.3 + "px"
			}, 50);
		}

		</script>

		<div id="header">
			<div class="container first-row">
				<a href="{{ url_for('contact') }}" id="request-quote">> Request Quote</a>
				
				<!-- google translation -->
				<div id="google_translate_element"></div>
				<script type="text/javascript">
				function googleTranslateElementInit() {
					new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'ar,es,fr,pt,ru', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
				}
				</script>
				<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

				<form id="search-form" method="post" action="{{ url_for('search') }}">
					<input type="text" name="keywords" placeholder="Search Products" /><input type="submit" value="Go" />
				</form>
			</div>

			<!-- nav -->
			<div class="navbar">
				<div class="navbar-inner">
					<div class="container">
						<a id="logo" href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='img/logo.gif') }}"></a><span id="slogan">building a smart future</span>

						{% if session.user_id == admin_id %}
						<ul class="nav pull-right">
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">
									管理 <span class="caret"></span>
								</a>

								<ul class="dropdown-menu">
									<li><a href="{{ url_for('add_product') }}">添加产品</a></li>
									<li><a href="{{ url_for('add_mtype') }}">添加主类</a></li>
									<li><a href="{{ url_for('add_stype') }}">添加子类</a></li>
									<li><a href="{{ url_for('manage_carousel') }}">管理轮播</a></li>
									<li><a href="{{ url_for('logout') }}">登出</a></li>
								</ul>
							</li>
						</ul>
						{% endif %}

						<ul class="nav main-nav pull-right">
							<li><a href="{{ url_for('home') }}">Home</a></li>

							<li>
								<a href="{{ url_for('products') }}">Products</a>
								<!-- sub menu -->
								<ul>
									{% for t in public_mtypes %}
									<li><a href="{{ url_for('mtype', mtype_id=t.MainTypeID) }}">{{ t.Name }}</a></li>
									{% endfor %}
								</ul>
							</li>

							<li>
								<a href="{{ url_for('about') }}">About Us</a>
								<!-- sub menu -->
								<ul>
									<li><a href="{{ url_for('about') }}#bi">Brief Introduction</a></li>
									<li><a href="{{ url_for('about') }}#icr">Industries and Countries Related</a></li>
									<li><a href="{{ url_for('about') }}#pc">Production and Certification</a></li>
									<li><a href="{{ url_for('about') }}#pf">Promise and Future</a></li>
								</ul>
							</li>

							<li>
								<a href="{{ url_for('service') }}">Service</a>
								<!-- sub menu -->
								<ul>
									<li><a href="{{ url_for('service') }}#as">After-Sales Services</a></li>
									<li><a href="{{ url_for('service') }}#oo">OEM/ODM</a></li>
								</ul>
							</li>

							<li>
								<a href="{{ url_for('careers') }}">Careers</a>
							</li>

							<li><a href="{{ url_for('contact') }}">Contact</a></li>
						</ul>
					</div>
				</div>
			</div>

			<!-- Carousels -->
			{% block carousel %}{% endblock %}
		</div>

		<div id="main-wap" class="container">
			{% block body %}{% endblock %}
		</div>

		<div id="footer">
			<div class="container footer-nav">
				<div class="row">
					<div class="span3">
						<h4>About Us</h4>
						<ul>
							<li><a href="{{ url_for('about') }}#bi">Brief Introduction</a></li>
							<li><a href="{{ url_for('about') }}#icr">Industries and Countries Related</a></li>
							<li><a href="{{ url_for('about') }}#pc">Production and Certification</a></li>
							<li><a href="{{ url_for('about') }}#pf">Promise and Future</a></li>
						</ul>
					</div>
					<div class="span3">
						<h4>Products</h4>
						<ul>
							{% for t in public_mtypes %}
							<li><a href="{{ url_for('mtype', mtype_id=t.MainTypeID) }}">{{ t.Name }}</a></li>
							{% endfor %}
						</ul>
					</div>
					<div class="span3">
						<h4>Downloads</h4>
						<ul>
							<li><a href="#">File Downloads</a></li>
						</ul>						
					</div>
					<div class="span3">
						<h4>Follow Us</h4>
						<ul class="img-list">
							<li><a href=""><img src="{{ url_for('static', filename='img/twitter.png') }}" /></a></li>
							<li><a href=""><img src="{{ url_for('static', filename='img/flickr.png') }}" /></a></li>
							<li><a href=""><img src="{{ url_for('static', filename='img/rss.png') }}" /></a></li>
							<li><a href=""><img src="{{ url_for('static', filename='img/yahoo.png') }}" /></a></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="cp">Copyright © 2013 by OPTICO</div>
		</div>
	</body>
</html>