{% extends "layout.html" %}

{% block page_title %}{{ mt.Name }} - Products - Optico Communincation{% endblock %}
{% block page_id%}page-mtype{% endblock %}

{% block description %}{{ mt.Name }} By Optico Communincation{% endblock %}

{% block body %}

<script type="text/javascript" src="{{ url_for('static', filename='js/optico-ps.js') }}"></script>
<script type="text/javascript">

$(document).ready(function(){
	// confirm delete
	$('#btn-delete-mtype').click(function(){
		return confirm("确认删除主分类：{{ mt.Name }} ?")? true: false;
	})
});
</script>

<div class="row">
	<div class="span3">
		<!-- products treelist -->
		{% from 'products_sidebar.widget' import show_ps %}
		{{ show_ps(ps)|safe }}
		
		<script type="text/javascript">
			// init sidebar
			init_ps(1, {{ mt.MainTypeID }});
		</script>
	</div>

	<div class="span9">
		{% if session.user_id == admin_id %}
		<div class="btn-group pull-right">
			<a href="{{ url_for('delete_mtype', mtype_id=mt.MainTypeID) }}" id="btn-delete-mtype" class="btn btn-small"><span class="icon-remove"></span> 删除</a>
			<a href="{{ url_for('edit_mtype', mtype_id=mt.MainTypeID) }}" class="btn btn-small"><span class="icon-edit"></span> 编辑</a>
		</div>
		{% endif %}

		<ul class="breadcrumb">
			<li>
				<a href="{{ url_for('mtype', mtype_id=mt.MainTypeID) }}">{{ mt.Name }}</a> >
			</li>
		</ul>

		<h1>{{ mt.Name }}</h1>

		{% from 'products.widget' import show_products %}
		{{ show_products(products)|safe }}
	</div>	
</div>

{% endblock %}