{% extends "layout.html" %}

{% block page_title %}{{ p.Name }}{% endblock %}
{% block page_id%}page-product{% endblock %}

{% block body %}

<script type="text/javascript">
$(document).ready(function(){
	$('#btn-delete-product').click(function(){
		return confirm("确认删除产品：{{ p.Name }} ?")? true: false;
	})
});
</script>

<div class="row">
	<div class="span3">
		<b>Products</b>
	</div>

	<div class="span9">
		{% if session.user_id == admin_id %}
		<div class="btn-group pull-right">
			<a href="{{ url_for('delete_product', product_id=p.ProductID) }}" id="btn-delete-product" class="btn btn-small"><span class="icon-remove"></span> 删除</a>
			<a href="{{ url_for('edit_product', product_id=p.ProductID) }}" class="btn btn-small"><span class="icon-edit"></span> 编辑</a>
		</div>
		{% endif %}

		<ul class="breadcrumb">
			<li>
				<a href="{{ url_for('mtype', mtype_id=mt.MainTypeID) }}">{{ mt.Name }}</a> >
			</li>
			<li>
				<a href="{{ url_for('stype', stype_id=st.SubTypeID) }}">{{ st.Name }}</a> >
			</li>
		</ul>
		
		<h1>{{ p.Name }}</h1>
		<img class="p-img" src="{{ p.ImageUrl }}" />
		<div class="p-details">{{ p.Details|safe }}</div>
	</div>	
</div>

{% endblock %}