{% extends "layout.html" %}

{% block page_title %}{{ p.Name }}{% endblock %}
{% block page_id%}page-product{% endblock %}

{% block body %}

<div class="row">
	<div class="span3">
		<b>Products</b>
	</div>

	<div class="span9">
		<div class="btn-group pull-right">
			<a href="{{ url_for('edit_product', product_id=p.ProductID) }}" class="btn btn-small">编辑</a>
			<a href="#" class="btn btn-small">删除</a>
		</div>
		
		<h1>{{ p.Name }}</h1>
		<img class="p-img" src="{{ p.ImageUrl }}" />
		<div class="p-details">{{ p.Details }}</div>
	</div>	
</div>

{% endblock %}