{% extends "layout.html" %}

{% block page_title %}Products{% endblock %}
{% block page_id%}page-products{% endblock %}

{% block body %}

<script type="text/javascript" src="{{ url_for('static', filename='js/optico-ps.js') }}"></script>

<div class="row">
	<div class="span3">
		<!-- products treelist -->
		{% from 'products_sidebar.widget' import show_ps %}
		{{ show_ps(ps)|safe }}
	</div>

	<div class="span9">

		<h1>Products</h1>

		{% from 'products.widget' import show_products %}
		{{ show_products(products)|safe }}
	</div>	
</div>

{% endblock %}