{% extends "layout.html" %}

{% block page_title %}{{ st.Name }} - {{ mt.Name }} - Products - Optico Communincation{% endblock %}
{% block page_id%}page-stype{% endblock %}

{% block keywords %}{{ st.Name }}, {{ mt.Name }}, Products, Optico Communincation{% endblock %}
{% block description %}{{ st.Name }} By Optico Communincation{% endblock %}

{% block body %}

<script type="text/javascript" src="{{ url_for('static', filename='js/optico-ps.js') }}"></script>
<script type="text/javascript">

$(document).ready(function(){
	// comfirm delete
	$('#btn-delete-stype').click(function(){
		return confirm("确认删除子分类：{{ st.Name }} ?")? true: false;
	})
});
</script>

<div class="row">
	<div class="span3">
		<!-- products treelist -->		
		{% from 'products_sidebar.widget' import show_ps %}
		{{ show_ps(ps)|safe }}

		<script type="text/javascript">
			// init sidebar
			init_ps(2, {{ st.SubTypeID }});
		</script>
	</div>

	<div class="span9">
		{% if session.user_id == admin_id %}
		<div class="btn-group pull-right">
			<a href="{{ url_for('delete_stype', stype_id=st.SubTypeID) }}" id="btn-delete-stype" class="btn btn-small"><span class="icon-remove"></span> 删除</a>
			<a href="{{ url_for('edit_stype', stype_id=st.SubTypeID) }}" class="btn btn-small"><span class="icon-edit"></span> 编辑</a>
		</div>
		{% endif %}

		<ul class="breadcrumb">
			<li>
				<a href="{{ url_for('mtype', mtype_id=mt.MainTypeID) }}">{{ mt.Name }}</a> >
			</li>
			<li>
				<a href="{{ url_for('stype', stype_id=st.SubTypeID) }}">{{ st.Name }}</a> >
			</li>			
		</ul>

		<h1>{{ st.Name }}</h1>

		{% from 'products.widget' import show_products %}
		{{ show_products(products)|safe }}
	</div>	
</div>

{% endblock %}