{% extends "layout.html" %}

{% block page_title %}{{ st.Name }}{% endblock %}
{% block page_id%}page-stype{% endblock %}

{% block body %}

<script type="text/javascript">

function init_ps(level, mtype_id, stype_id, p_id){
	if(level >= 1){
		$('.ps-mtype').each(function(index, mt){
			if($(this).attr('data-mtype-id') == mtype_id){
				$(this).find('.li-header').removeClass('li-header-right').addClass('li-header-down');
				$(this).next().show();

				if(level == 1){
					$(this).find('a').css('color', 'red');
				}
			}
		});
	}

	if(level >= 2){
		$('.ps-stype').each(function(index, st){
			if($(this).attr('data-stype-id') == stype_id){
				$(this).find('.li-header').removeClass('li-header-right').addClass('li-header-down');
				$(this).next().show();

				if(level == 2){
					$(this).find('a').css('color', 'red');
				}
			}
		});
	}

	if(level == 3){
		$('.ps-product').each(function(index, p){
			if($(this).attr('data-p-id') == p_id){
				$(this).find('a').css('color', 'red');
			}
		});
	}
}

$(document).ready(function(){
	// init sidebar
	init_ps(2, {{ st.MainTypeID }}, {{ st.SubTypeID }});

	// show & hide
	$(document.body).on('click', '.li-header-right', function(){
		$(this).removeClass('li-header-right');
		$(this).addClass('li-header-down');
		$(this).parent().next().show();
	});

	$(document.body).on('click', '.li-header-down', function(){
		$(this).removeClass('li-header-down');
		$(this).addClass('li-header-right');
		$(this).parent().next().hide();
	});

	// comfirm delete
	$('#btn-delete-stype').click(function(){
		return confirm("确认删除子分类：{{ st.Name }} ?")? true: false;
	})
});
</script>

<div class="row">
	<div class="span3">
		<b>Products</b>
		{% from 'products_sidebar.widget' import show_ps %}
		{{ show_ps(ps)|safe }}
	</div>

	<div class="span9">
		{% if session.user_id == admin_id %}
		<div class="btn-group pull-right">
			<a href="{{ url_for('delete_stype', stype_id=st.SubTypeID) }}" id="btn-delete-stype" class="btn btn-small"><span class="icon-remove"></span> 删除</a>
			<a href="{{ url_for('edit_stype', stype_id=st.SubTypeID) }}" class="btn btn-small"><span class="icon-edit"></span> 编辑</a>
		</div>
		{% endif %}

		<ul class="breadcrumb">
			<li>
				<a href="{{ url_for('mtype', mtype_id=mt.MainTypeID) }}">{{ mt.Name }}</a> >
			</li>
			<li>
				<a href="{{ url_for('stype', stype_id=st.SubTypeID) }}">{{ st.Name }}</a> >
			</li>			
		</ul>

		<h1>{{ st.Name }}</h1>

		{% from 'products.widget' import show_products %}
		{{ show_products(products)|safe }}
	</div>	
</div>

{% endblock %}