{% extends "layout.html" %}

{% block page_title %}管理轮播{% endblock %}
{% block page_id %}page-manage-carousel{% endblock %}

{% block body %}

   <script type="text/javascript">
      $(document).ready(function () {
         // confirm delete
         $(document.body).on('click', '#btn-delete-carousel', function () {
            return confirm("确认删除 ?") ? true : false;
         });
      });
   </script>

   <h3>管理轮播</h3>
   <table class="table table-bordered table-striped">
      <thead>
      <th>轮播图片</th>
      <th>链接地址</th>
      <th>标题</th>
      <th>内容</th>
      <th>操作</th>
      </thead>

      <tbody>
      {% for c in carousels %}
         <tr>
            <td><img class="c-img" src="{{ c.image_url }}"/></td>
            <td><a href="{{ c.link_url }}" target="_blank">{{ c.link_url }}</a></td>
            <td>{{ c.title }}</td>
            <td>{{ c.content }}</td>
            <td>
               <div class="btn-group btn-group-sm">
                  <a class="btn btn-primary" id="btn-delete-carousel" href="{{ url_for('delete_carousel', c_id=c.id) }}">
                     <span class="glyphicon glyphicon-remove"></span> 删除
                  </a>
                  <a class="btn btn-primary" href="{{ url_for('edit_carousel', c_id=c.id) }}">
                     <span class="glyphicon glyphicon-pencil"></span> 编辑
                  </a>
               </div>
            </td>
         </tr>
      {% endfor %}
      </tbody>
   </table>

   <form id="form-add-carousel" class="form-horizontal" method="post" action="{{ url_for('manage_carousel') }}"
         enctype="multipart/form-data">
      <fieldset>
         <legend>添加轮播</legend>

         <div class="form-group">
            <label class="col-md-2 control-label">轮播图片</label>

            <div class="col-md-6">
               <input type="file" name="image"/>
            </div>
         </div>

         <div class="form-group">
            <label class="col-md-2 control-label">链接地址</label>

            <div class="col-md-6">
               <input type="text" class="form-control" name="link_url"/>
            </div>
         </div>

         <div class="form-group">
            <label class="col-md-2 control-label">标题</label>

            <div class="col-md-6">
               <input type="text" class="form-control" name="title"/>
            </div>
         </div>

         <div class="form-group">
            <label class="col-md-2 control-label">内容</label>

            <div class="col-md-6">
               <textarea class="form-control" name="content" rows='5'></textarea>
            </div>
         </div>

         <div class="form-group">
            <div class="col-sm-offset-2 col-md-6">
               <input type="submit" value="提交" class="btn btn-sm btn-primary"/>
            </div>
         </div>
      </fieldset>
   </form>

{% endblock %}